/**
 * SCSS - _wpbooklist-admin-ui.scss - Holds general Admin CSS that applies plugin-wide, including CSS for the Admin containers, the advertisment areas, and the dashboard icon
 *
 * @author   Jake Evans
 * @category SCSS
 * @package  Includes/Assets/CSS
 * @version  6.0.0
 */


/*
 * BEGIN ADMIN CONTAINER BONES, ADVERTISMENT, AND DASHBOARD ICON CSS
 */
.wpbooklist-admin-top-container, .wpbooklist-admin-advert-container{
    @extend %wpbooklist-admin-containers;
}

.wpbooklist-admin-top-title-icon{
    @extend %wpbooklist-admin-top-title-icon;
}

.wpbooklist-admin-top-title{
    @extend %wpbooklist-admin-top-title;
}

.wpbooklist-admin-advert-visit-me-title{
    @extend %wpbooklist-admin-advert-visit-me-title;
}

.wpbooklist-admin-advert-site-div{
    @extend %wpbooklist-admin-advert-site-div;
}

.wpbooklist-admin-advert-site-div img{
    @extend %wpbooklist-margin-auto-centered;
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#wpbooklist-admin-advert-email-me{
    @extend %wpbooklist-margin-auto-centered;
    text-align: center;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
}

#wpbooklist-admin-advert-flex-container{
    display:flex;
}

#wpbooklist-facebook-link-div, #wpbooklist-admin-advert-money-container{
    text-align:center;
}

#wpbooklist-admin-advert-money-container form{
    display: inline-block;
}

#wpbooklist-patreon-img{
    width: 100px;
}

#wpbooklist-patreon-link{
    display: inline-block;
    margin: 10px;
}

.wpbooklist-admin-advert-visit-me-link{
    text-decoration:none;
    font-size: 20px;
    margin-bottom: 30px;
    display: block;
}

.toplevel_page_WPBookList-Options .dashicons-before img {
    width: 30px!important;
    margin-right: 2px!important;
    padding: 2px 0 0!important;
}

.wpbooklist-my-notice-dismiss-forever{
    @extend %wpbooklist-default-buttons-style;
}

.wpbooklist-my-notice-dismiss-forever:hover {
    @extend %wpbooklist-default-buttons-style-hover;
}

/*
 * END ADMIN CONTAINER BONES, ADVERTISMENT, AND DASHBOARD ICON CSS
 */


/*
 * BEGIN COMMON ELEMENTS INSIDE OF TOP ADMIN CONTAINERS
 */

 .wpbooklist-color-orange-italic{
    @extend  %wpbooklist-color-orange-italic;
 }

.wpbooklist-tab-intro-para{
    @extend %wpbooklist-tab-intro-para;
}

.wpbooklist-tab-intro-para-left{
    @extend %wpbooklist-tab-intro-para;
    text-align: left;
}

.wpbooklist-icon-image-question, .wpbooklist-icon-image-question-with-link{
   @extend %wpbooklist-icon-image-question;
}

.wpbooklist-icon-image-question-with-link{
    right: 3px;
}

.wpbooklist-spinner{
    @extend %wpbooklist-spinner;
}

.wpbooklist-response-success-fail-container{
    @extend %wpbooklist-response-success-fail-container;
}

.wpbooklist-question-icon-label{
    @extend %wpbooklist-question-icon-label;
}

.wpbooklist-addition-div-img{
    width:22px;
}

.wpbooklist-addition-div-img{
   @extend %wpbooklist-addition-div-img;
}

.wpbooklist-addition-div-p{
    @extend %wpbooklist-addition-div-p;
}

#wpbooklist-smile-icon-1{
    @extend %wpbooklist-margin-auto-centered;
    @extend %wpbooklist-smile-icon;
}

#wpbooklist-success-span{
    font-style: italic;
    color: $primary-color;
    font-size: 16px;
}

.wpbooklist-show-book-colorbox {
    text-decoration: underline;
    cursor: pointer;
}

.wpbooklist-bold-shortcode{
    @extend %wpbooklist-bold-shortcode;
}

.wpbooklist-bold-shortcode-orange{
    @extend %wpbooklist-bold-shortcode-orange;
}

.wpbooklist-bold-li-heading{
   @extend %wpbooklist-bold-li-heading;
}

#wpbooklist-dynamic-input-library{
    min-width: 300px;
    margin-bottom:50px;
}

#wpbooklist-dynamic-shortcode-button{
    margin-bottom:50px;
}

#wpbooklist-dynamic-shortcode-button, .wpbooklist_delete_custom_lib{
    width: 200px;
}

.wpbooklist-response-success-fail-button{
   @extend %wpbooklist-response-success-fail-button;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



/*
 * END COMMON ELEMENTS INSIDE OF TOP ADMIN CONTAINERS
 */



