/**
 * SCSS - _wpbooklist-admin-book-form.scss - Hold CSS specific to the Book Form for adding and editing books.
 *
 * @author   Jake Evans
 * @category SCSS
 * @package  Includes/Assets/CSS
 * @version  6.0.0
 */

.wpbooklist-book-form-indiv-attribute-container{
    display:inline-block;
    margin:5px;
}

.wpbooklist-book-form-container input[type="text"]{
    width: 175px;
    display: block;
}

#wpbooklist-addbook-select-library-label p{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 14px;
}

.wpbooklist-libraries-dropdown-container{
    text-align:center;
}

.wpbooklist-book-form-inner-container-multiple-fields-row, .wpbooklist-book-form-inner-container-textarea-fields-row, , .wpbooklist-book-form-inner-container-image-fields-row{
    display:block;
    width:100%;
}

.wpbooklist-book-form-inner-container-basic-fields, .wpbooklist-book-form-inner-container-multiple-fields, .wpbooklist-book-form-inner-container-textarea-fields, .wpbooklist-book-form-inner-container-image-fields, .wpbooklist-book-form-inner-container-textarea-fields{
    text-align:center;
}

.wpbooklist-book-form-inner-container-multiple-fields, .wpbooklist-book-form-inner-container-textarea-fields, .wpbooklist-book-form-inner-container-image-fields{
    margin-top:70px;
}

.wpbooklist-book-form-inner-container-multiple-fields .wpbooklist-book-form-indiv-attribute-container, .wpbooklist-book-form-inner-container-textarea-fields .wpbooklist-book-form-indiv-attribute-container, .wpbooklist-book-form-inner-container-image-fields .wpbooklist-book-form-indiv-attribute-container{
    width:45%;
}

.wpbooklist-book-form-inner-container-multiple-fields .wpbooklist-book-form-indiv-attribute-container input[type="text"], .wpbooklist-book-form-inner-container-textarea-fields .wpbooklist-book-form-indiv-attribute-container textarea{
    width:100%;
}

.wpbooklist-book-form-inner-container-textarea-fields-row textarea{
    display: block;
}

.wpbooklist-addbook-select-default{
    max-width:95%;
}

.ui-autocomplete {
    max-height: 400px;
    max-width:350px;
   /*  overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}

.wpbooklist-book-form-indiv-attribute-image-controls-container{
    position: relative;
}

.wpbooklist-book-form-indiv-attribute-image-controls-container input{
    display:block;
    margin-top: 4px;
    margin-bottom: 4px;
}

.wpbooklist-addbook-preview-img{
    position: absolute;
    left: 175px;
    top: 0px;
    max-width: 50px;
    padding-left: 4px;
}

.wpbooklist-book-form-inner-container-image-fields .wpbooklist-book-form-indiv-attribute-container{
    text-align:left;
    width:235px;
}

.wpbooklist-book-form-inner-container-image-fields-row{
    margin-top:25px;
}